<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
  <title th:text="#{cas.login.pagetitle}"></title>
</head>

<body id="cas" class="login">

<div layout:fragment="content">
  <form action="login" class="bs-example bs-example-form"
        role="form" method="post" id="fmLogin" th:object="${md5PwdCredential}">

    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
      <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
    </div>

    <div style="padding-bottom:20px;">
      <label class="checkbox-inline current">
        <input type="radio" name="authType" value="password" checked>账号密码
      </label>
      <label class="checkbox-inline" style="padding-right:10px;">
        <input type="radio" name="authType" value="ldap">LDAP
      </label>
      <!--<label class="checkbox-inline" style="padding-right:10px;">
        <input type="radio" name="authType" value="fingerMark">指纹
      </label>-->
    </div>
      <fieldset name="account">
        <div class="input-group">
          <span class="input-group-addon"><img src="css/user.png"></span>
          <input type="text" class="form-control" name="username" placeholder="请输入您的账号">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><img src="css/suo.png"></span>
          <input type="password" class="form-control" name="password" placeholder="请输入您的密码">
        </div>
        <br>
          <!--#1#<h1 th:text="${#httpServletRequest.getParameter('_needValidateCode')}"></h1>#2#-->
          <!--#2#<h1 th:text="${session.session_checkcode}"></h1>#2#-->
        <div class="input-group" th:if="${session._needValidateCode}" style="position: relative!important;">
          <span class="input-group-addon"><img width=24 height=20 src="css/yanzhengma.png"></span>
          <input type="text" name="validateCode" class="form-control" placeholder="请输入验证码11111"
                 style="position:relative;width:171px;height:33px;">
          <img id="oimg">
        </div>
        <br>
      </fieldset>
      <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
      <input type="hidden" name="_eventId" value="submit"/>
      <div style="margin-top:10px;">
        <input class="form-control btn btn-info" type="sumbit" value="登录" onclick="login()"/>
      </div>
  </form>
</div>
</body>
</html>
