<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title th:text="#{cas.login.pagetitle}"></title>

  <link rel="stylesheet" href="css/dome.css">
  <link type="text/css" rel="stylesheet" th:href="@{#{webjars.bootstrapmin.css}}"/>
  <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
  <script th:src="@{#{webjars.bootstrapmin.js}}"></script>
</head>

<body>
<div class="box">
  <div class="cnt">
    <p id="huanying">
      <span id="cnt_one">CAS登录</span>
    </p>
    <div>

      <div layout:fragment="content" id="content"></div>

    </div>
  </div>
</div>
</body>
<script>
  var currentMode = $(':radio:checked').val();

  $(':radio').on('change', function() {
    select($(this).val())
  });

  $('#oimg').on('click', function() {
    $(this).attr('src', 'captcha?' + Math.random())
  }).click();

  function login() {
    $('#fmLogin').submit();
  }

  function select(mode) {
    if (currentMode === mode) return;

    login();
  }
</script>
</html>
